:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --button-color: var(--vb-theme-button-color, #42b883);
  --accent-color: var(--vb-theme-accent-text-color, #42b883);
  --bg-color: var(--vb-theme-bg-color, #f0f0f0);
  --text-color: var(--vb-theme-text-color, #000);
  --secondary-bg-color: var(--vb-theme-secondary-bg-color, #ccc);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#app {
  text-align: center;
  padding: 1rem;
  background-color: var(--bg-color);
}
